body {
    padding-top: 50px;
    padding-bottom: 20px;
    height:100%;
}

footer
{
    height:100px;
    background-color: #333333;
    position: relative;
    left: 0;
    bottom:0;
    right: 0;   
    width: 100%;
}
 

.whole-body
{
    padding-bottom: 100px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-control{
background-color: lightgray;
border-radius:0px;
}
.text-box  {
background-color: lightgray;


}
#navbar-right li a{
           color:white;
           font-weight:bold;
           font-size:20px;
       } 
.btn-default{
    background-color:#00b39b;
}

.user_name a{
    color:#00b39b;
}
#btn-right{
    background-color:#00b39b;
}
.glyphicon-ok{
    color:#00b39b;
}
.glyphicon-remove{
    color:#cc0000;
}
#header_result{
    color:#00b39b;
    text-align:center;
}
 .result{
            
          margin-bottom:5px;
            
        }
 .result_content{
     box-shadow:0px 0px 3px;
 }
 .result_list{
      
     text-decoration:none;
     list-style:none;
     
 }
 .result_list h3{
     color:#00b39b;
     
 }

 
.form_confirm{
   text-align:center;
    padding:20px;
    text-justify:none;
    box-shadow:-2px 0px 5px #444141;
}
.from-confirm-text {
text-align:right;
color:#00b39b;
}
.from-confirm-right{
    text-align:left;
}
.from-confirm-text-header {
    text-align:center;
    
    margin-top:10px;
}
.comfirm-top-text{
  text-align:center;
  font-size: 16px;
 
}
.btn-default {
background-color:#00b39b;
color:#ffffff;
}


#btn-right {
    background-color: #00b39b;
}
#CurrentBedsAvailable{
    background-color: lightgray;
}

.form-center{
       
       margin-left: auto; margin-right: auto;
   }

.bold
{
    font-weight:bold;
}

.mar-top-5
{
    margin-top: 5px;
}


.mar-top-10
{
    margin-top: 10px;
}


.mar-top-20
{
    margin-top: 20px;
}



.mar-left-5
{
    margin-left: 5px;
}

.mar-left-10
{
    margin-left: 10px;
}


.mar-left-30
{
    margin-left: 30px;
}

.mar-left-35
{
    margin-left: 35px;
}


.mar-left-40
{
    margin-left: 40px;
}

.grey
{
    color:grey;
}