body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-control{
background-color: lightgray;
}
.text-box  {
background-color: lightgray;


}
#navbar-right li a{
           color:white;
           font-weight:bold;
           font-size:20px;
       } 
.btn-default{
    background-color:#00b39b;
}

.user_name a{
    color:#00b39b;
}
#btn-right{
    background-color:#00b39b;
}
.glyphicon-ok{
    color:#00b39b;
}
#header_result{
    color:#00b39b;
    text-align:center;
}
 .result{
            
          margin-bottom:5px;
            
        }
 .result_content{
     box-shadow:0px 0px 3px;
 }
 .result_list{
      
     text-decoration:none;
     list-style:none;
     
 }
 .result_list h3{
     color:#00b39b;
     
 }